[submodule "linux"]
	path = linux
	url = https://github.com:tiiuae/pKVM-x86.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "crosvm"]
	path = crosvm
	url = https://chromium.googlesource.com/crosvm/crosvm
[submodule "coreboot"]
	path = coreboot
	url = https://review.coreboot.org/coreboot.git
[submodule "uefi/shim"]
	path = uefi/shim
	url = https://github.com/rhboot/shim.git
[submodule "uefi/firmware-open"]
	path = uefi/firmware-open
	url = https://github.com/system76/firmware-open.git
