# CONFIG_USE_BLOBS is not set
# CONFIG_POST_DEVICE is not set
# CONFIG_POST_IO is not set
CONFIG_UART_FOR_CONSOLE=2
CONFIG_VGA_BIOS=y
CONFIG_CONSOLE_POST=y
CONFIG_BOARD_EMULATION_QEMU_X86_Q35=y
# CONFIG_DRIVERS_INTEL_WIFI is not set
CONFIG_VGA_BIOS_FILE="${FIRMWARE_OPEN_MODEL_DIR}/vga.rom"
CONFIG_CPU_QEMU_X86_TSEG_SMM=y
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_DRIVERS_EMULATION_QEMU_XRES=1024
CONFIG_DRIVERS_EMULATION_QEMU_YRES=768
# CONFIG_DRIVERS_MTK_WIFI is not set
# CONFIG_CONSOLE_CBMEM is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
CONFIG_PAYLOAD_ELF=y
CONFIG_PAYLOAD_FILE="$(FIRMWARE_OPEN_UEFIPAYLOAD)"
CONFIG_GDB_STUB=y
CONFIG_FATAL_ASSERTS=y
CONFIG_DEBUG_CBFS=y
CONFIG_DEBUG_CONSOLE_INIT=y
CONFIG_DEBUG_BOOT_STATE=y
